html
	head
		title= title
	body
		h1= msg
		form(action='/super-admin/login' method='post')
			input(type='text' name='name' placeholder='username')
			br
			input(type='text' name='password' placeholder='password')
			br
			input(type='submit' value='submit')